/* NAV BAR TEST*/

html {
  box-sizing: border-box;
  margin: 0;
}

input:focus {
  outline:none !important;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.topleft {
  position: absolute;
  top: 35px;
  left: 100px;
  font-size: 16px;
}

/* Add a black background color to the top navigation */
.topnav {
  position: absolute;
  right: 40px;
  overflow: hidden;
}

/* adjust buttons */
.navbtn {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px 12px;
  background-color: #F9F9F9;
  border-radius: 25px;
  border: 0.1rem solid black;
  border-color: #C6E3FF;
  cursor: pointer;
  text-decoration: none;
  color:black;
}

.navbtn:hover {
  background-color: rgb(219, 233, 255);
}

.navbtn.active {
  background-color: #CFE2FF;
}

.navbtn.active:focus {outline:0;}

.topnav {
  top: 20px;
}

.aboutus, .peersupport, .members, .contactus, .events, .resources, .keyterms{
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: 180px;
  margin-right: 200px;
  background-color: #F0F8FF;
  font-size: 18px;
}






/* General page styling */
* {
  font-family: Helvetica, 'Aleo';
  margin: 0;
  padding: 0;
  font-size: 18px;
}
body {
  background-color: #F0F8FF;
}

/* Body styling */
.body_container {
  padding: 3% 5% 0 5%;
  color: #554D45;
}

.header {
  margin-top: 90px; 
  margin-left: 8.5%;
  font-size: 18px;
}

/* Textboxes */
.text_box {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  font-size: 18px;

  border-radius: 30px;
  background-color: #FFFFFF;
}

.view_more:hover {
  text-decoration: underline;
}

/* Button */
.view_more {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  width: 457px;
  height: 194px;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15);

  color: #554D45;
  text-decoration: none;

  padding: 37px 71px;
  border-radius: 30px;
  
  background-color: #FFF0BB;
  
  font-size: 18px;
}

/* image */
.erica {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
}

/* text */
.text_box p, ul, li{
  font-size: 18px;
}


/* NAVBAR STUFF */
.header-container {
  display: flex;
  flex-direction:row;
  background-color: #F0F8FF;
  padding: 25px;
  align-items: center;
  font-family: Aleo, sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.title-page {
  margin-left: 2rem;
  color: #554D45;
}

.navigation-container {
  margin-left: auto;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-btn {
  margin-left: 1rem;
  border: 0.1rem solid #C6E3FF;;
  border-radius: 25px;
  background-color: #F9F9F9;
  padding: 7px;
}

/* Footer */
.footer {
  width: 65%;
  margin-top: 175px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}


/* nav bar stuff */

/* NAV BAR TEST*/

html {
  box-sizing: border-box;
  margin: 0;
}

input:focus {
  outline:none !important;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.topleft {
  position: absolute;
  top: 35px;
  left: 100px;
  font-size: 16px;
}

/* Add a black background color to the top navigation */
.topnav {
  position: absolute;
  right: 40px;
  overflow: hidden;
}

/* adjust buttons */
.navbtn {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px 12px;
  background-color: #F9F9F9;
  border-radius: 25px;
  border: 0.1rem solid black;
  border-color: #C6E3FF;
  cursor: pointer;
  text-decoration: none;
  color:black;
}

.navbtn:hover {
  background-color: rgb(219, 233, 255);
}

.navbtn.active {
  background-color: #CFE2FF;
}

.navbtn.active:focus {outline:0;}

.topnav {
  top: 20px;
}

.aboutus, .peersupport, .members, .contactus, .events, .resources, .keyterms{
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: 180px;
  margin-right: 200px;
  background-color: #F0F8FF;
}
