<!DOCTYPE html>
<html>
    <head>
		<meta charset = “utf-8”>
		<title> About Us </title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/ANCaboutus.css">
	</head>

    <div id="content">
        <img class=logo src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
        <div class="topleft">Aggie Neurodiversity Community </div>
    </div>

    <div class="topnav">
        <a class="navbtn home" href="/home"> Home</a>
        <a class="navbtn support" href="/peersupport"> Peer Support</a>
        <a class="navbtn events" href="/events"> Events</a>
        <a class="navbtn resources" href="/resources"> Resources</a>
        <a class="navbtn members" href="/communitymembers"> Campus Trainings</a>
        <a class="navbtn contact" href="/contactus"> Contact Us</a>
        <a class="navbtn keyterms" href="/keyterms"> Key Terms</a>
    </div> 


<body>
    
<div id="includedContent" class="container"></div>

<div id="container">
<h1>Leadership</h1>
<pre class="class_seven">
The Aggie Neurodiversity Community at UC Davis is a group run by and for neurodivergent 
students.  We are a registered student organization, but we are not part of the university 
administration and do not speak for UC Davis.

We have a democratic structure.  Each year, members elect, from among themselves, executive 
officers to organize and facilitate meetings.

However, we also believe in consensus and distributed leadership.  Executive officers are 
expected to listen to the desires of the whole group.

Members are expected to respect one another and interact within a framework of fellowship 
and shared community.  We encourage a diversity of opinion and perspectives, but 
disagreements should be expressed as debate between ideas, not conflict between individuals.  
We do not tolerate harassment.
</pre>
</div>

<div class="flex-container">
<pre class="class_nine">
<a style="text-decoration:none;color: #554D45;" href="https://drive.google.com/file/d/1KrKMunyccE8kLwFbXIleY07iXbX9YD09/view?usp=sharing">
     Click here to view
   club constitution </a>
</div>

<div id="container">
<h1>Executive</h1>
<table>
        <tr>
            <td>
                <pre class="class_five">
<p class="flex-container">Patrick Dwyer</p>
<img src="../static/icons/PD_photo3.jpg" alt='A Caucasian man in mid-twenties smiling in front of a brick wall background' width="390" height="401"><b>
Patrick Dwyer is the President and
Facilitator of the Aggie
Neurodiversity Community at UC
Davis.  He is an autistic graduate
student and autism researcher in the
UC Davis developmental psychology
program. Patrick has a strong interest
in ensuring that postsecondary education
is accessible for autistic students.
He is part of <a href="https://autismresearch.international/" target="_blank">an international
collaborative group developing autism
and Universal Design resources for 
faculty and TAs</a>, and part of <a href="https://sinneavefoundation.org/our-work/post-secondary-education/autism-campus-prep/" target="_blank">an autism
postsecondary resource development
group at the Sinneave Family Foundation</a>.
He is also the co-chair of the <a href="https://www.autism-insar.org/page/INSARARC/" target="_blank">Autistic
Researchers Committee</a> at the
International Society for Autism
Research (INSAR) and a member of the
Autistic Researcher Review Board for
the Autism Intervention Research Network
on Physical Health (AIR-P).

Patrick’s main research interest is using
various methods (including
electrophysiology, questionnaires, and
psychophysics) to explore sensory
processing and attention in autism.
However, Patrick also has strong 
interests in various topics such as K-12
education, intervention, heterogeneity,
and neurodiversity theory. He also has a
blog, <a href="http://www.autisticscholar.com/" target="_blank">autisticscholar.com</a>.
                </pre>
            </td>

            <td valign="top">
                <pre class="class_six">
<p class="flex-container">Erica Mineo</p>
<img src="../static/icons/EImineo.JPG" alt='A smiling woman sitting on a bench in front of a piano, with head turned towards camera'width="390" height="468">
Erica Mineo is a co-founder and the 
Vice President of the Aggie
Neurodiversity Community at UC Davis.
She is a proudly autistic undergraduate
student majoring in Biological Sciences
and minoring in Music. She is a
passionate advocate and has spoken
about autism and neurodiversity at
numerous events and trainings organized
by our club, at the UC Davis
Neurodiversity Summit in 2019, and – in
front of a global audience of more than
eight thousand people – at the MIND
Summer Institute in 2020. She has also
participated in the UCD Student
Disability Center FACES Project and
panel discussions with the UC Davis
Mental Health Initiative.

Erica has a keen interest in veterinary
medicine and hopes to attend the UCD
veterinary school after completing her
undergraduate studies. She is currently
a Pharmacy officer with the Knights
Landing One Health Veterinary Clinic,
and a UCD Foal Team member. Her passions
include cats, horses, classical music,
playing the piano and violin, running,
nature photography, classic literature
(especially Shakespeare), writing poetry,
disability studies, autism advocacy, and
more recently, gardening and women's
soccer.
                </pre>
            </td>

        </tr>

    </table>
</div>


<div id="container">
    <h1>Sponsors</h1>
    <table>
        <tr>
            <td>
                <pre class="class_fifteen">
<p class="flex-container"></p>
<img src="https://sdc.ucdavis.edu/sites/g/files/dgvnsk1946/files/sdc_logo_blue_1.png" width="390" height="87"><b>
UC Davis Student Disability Center
                </pre>
            </td>

            <td valign="top">
                <pre class="class_sixteen">
<p class="flex-container"></p>
<img src="../static/icons/Warmline.png" width="390" height="390"><b>
WarmLine Family Resource Center
                </pre>
            </td>

        </tr>

    </table>

</pre>
<pre class="footer">
Note that the Aggie Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. We are not part of the UC Davis
               administration. As such, the views expressed on this website should not be taken to reflect the positions of UC Davis.
</pre>


</div>

</body>
</html>
