<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Autism Research & Diagnostic/Neuropsych Assessments</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/ANCstyle-resources.css">
    </head>

    <div id="content">
        <img src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
        <div class="topleft">Autism and Neurodiversity Community </div>
    </div>

    <div class="topnav">
        <a class="navbtn home" href="/home"> Home</a>
        <a class="navbtn support" href="/peersupport"> Peer Support</a>
        <a button class="navbtn events" href="/events"> Events</button></a>
        <button class="navbtn active"> Resources</button>
        <a button class="navbtn members" href="/communitymembers"> Campus Trainings</button></a>
        <a button class="navbtn contactus" href="/contactus"> Contact Us</button></a>
        <a button class="navbtn key terms" href="/keyterms"> Key Terms</button></a>
    </div> 

    <body>
        <main>
            <section>
                <div class="title">Diagnostic Assessments</div>
                <div class="subtitle"> Click on each box to access link </div>
                <div class="flex-container left">
                    <a href="https://familyguidanceandtherapy.com/adult-autism-diagnosis/" target="_blank" class="item shadow">
                        <b>Family Guidance and Therapy</b>
                        <p>Clinic with location in Petaluma.</p>
                    </a>
                </div>
                <div class="flex-container right">
                <a href="https://physicians.ucdavis.edu/medicalcenter/details/842/david-hessl-child_clinical_psychology-neuropsychology-sacramento" target="_blank" class="item shadow">
                    <b>David Hessl</b>
                    <p>Clinician at the UC Davis MIND Institute who has expertise in diagnostic assessments for autistic adults.</p>
                </a>
                </div>
                <div class="flex-container left">
                    <a href="https://www.kennethrobersonphd.com/" target="_blank" class="item shadow">
                        <b>Kenneth Roberson</b>
                        <p>Clinician in San Francisco.</p>
                    </a>
            </div>
            </section>
            
            <section>
                <div class="title">Neuropsych Assessments</div>
                <div class="subtitle"> Click on each box to access link </div>
                <div class="flex-container left">
                    <a href="http://bonnieconnor.com/" target="_blank" class="item shadow">
                        <b>Bonnie Connor</b>
                        <p>Local neuropyschologist in Davis who takes SHIP insurance.</p>
                    </a>
                </div>
            </section>
            <section>

            <div class="title">Autism Research and Information</div>
            <div class="subtitle"> Click on each box to access link</div>
            <div class="flex-container left">
                <a href="http://researchautism.net/autism-publications" target="_blank" class="item shadow">
                    <b>Research Autism</b>
                    <p>A non-profit in the UK that has a searchable database with thousands of articles. Probably the most comprehensive autism-specific source.</p>
                </a>
            </div> 
            <div class="flex-container right">
                <a href="https://www.actcommunity.ca/aid-search" target="_blank" class="item shadow">
                    <b>Autism Information Database</b>
                    <p>More accessible searchable database. Resources are written with a community audience in mind.</p>
                </a>
            </div>
            </section>

            <section>
                <div class="title">Understanding Autism Jargon</div>
                <div class="subtitle"> Click on each box to access link</div>
                <div class="flex-container left">
                    <a href="https://autism-asks.tumblr.com/post/165015950971/dictionary-of-autism" target="_blank" class="item shadow">
                        <b>Dictionary of Autism</b>
                        <p>Written by autistic people, with a number of relevant terms such as stimming, echolalia, etc.</p>
                    </a>
                </div> 
                <div class="flex-container right">
                    <a href="https://link.springer.com/referencework/10.1007%2F978-1-4419-1698-3#springerlink-search" target="_blank" class="item shadow">
                        <b>Encyclopedia of Autism Spectrum Disorders</b>
                        <p>(edited by Fred Volkmar from Yale) 
                            Written from the perspective of researchers and clinicians, so there is an emphasis on terms that are used in those communities rather than among autistic adults.</p>
                    </a>
                </div>
            </section>
        </main>
        <footer>
            <div id="disclaimer">
                Note that the Autism & Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. 
                We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to 
                reflect the positions of UC Davis.
            </div>
        </footer>        
    </body>
</html>
