<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ANC</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../static/css/ANCcontactus.css">
   
  </head> 

<div id="content">
    <img class=logo src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
    <div class="topleft">Aggie Neurodiversity Community </div>
</div>

<div class="topnav">
    <a class="navbtn homebtn" href="/home"> Home</a>
    <a class="navbtn peersupport" href="/peersupport"> Peer Support</a>
    <a class="navbtn events" href="/events"> Events</a>
    <a button class="navbtn resources" href="/resources"> Resources</button></a>
    <a button class="navbtn members" href="/communitymembers"> Campus Trainings</button></a>
    <button class="navbtn active"> Contact Us</button>
    <a button class="navbtn keyterms" href="/keyterms"> Key Terms</button></a>
</div> 

  
  <body>
    <body style="background-color:#F0F8FF">
    <section>
        <h1>Contact Us</h1>
        <p>Interested in reaching out? Send us a message below! </p>
        <!-- Add email below -->
        <form action="mailto:neurodiversitydavis@gmail.com" class="yellowbox" method="POST" enctype="text/plain">
            <label for="fname">&emsp;First name</label>
            <input name="fname" type="text" placeholder="...type your first name here">
          
            <label for="lname">&emsp;Last name</label>
            <input name="lname" type="text" placeholder="...type your last name here">
          
            <label for="email">&emsp;Email address</label>
            <input name="email" type="text" placeholder="...type your email address here">
            
            <label for="msg">&emsp;Your message</label>
            <textarea id="msg" name="message" type="text" placeholder="...type your message here"></textarea>
            
            <button type="submit" id="submit-button" value="send">Submit</button>
        </form>
    </section>
    <footer> 
      <em>Note that the Aggie Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to reflect the positions of UC Davis.</em>
    </footer>
    </body>
</html>
