<!DOCTYPE html>
<html>
	<head>
		<meta charset = “utf-8”>
		<title> Events and Meetings </title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/ANCeventspage.css">
	</head>



   {%with activePage="Events" %}
     {%include 'ANCnavbar.html' %}
   {%endwith%}
   <!--<header>Nav Bar</header>--> 

	<body>	
    <div class="top">
        <h2> Events and Meetings </h2>
        <p> Click on any event to join the meeting!</p>
    </div>
    
    <section id="services">
        <div class="container" style = 'text-align: center'>
            <div class="row text-center">
            <h2 class="section-heading" id = "about-heading" > Event Calendar </h2>
            <hr class="about-hr">
            <br>
        </div>
        <iframe src="https://calendar.google.com/calendar/embed?src=neurodiversitydavis%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0; margin:auto" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
        <br><br><br>
    </section>
    

    </body>
<!-- <body>
    <div>
	<footer>  
            <p class="footer" style="font-size:90%"> Note that the Aggie Neurodiversity Community at UC Davis is a group run 
            by and for neurodivergent students. We are not part of the UC Davis administration. 
            As such, the views expressed on this website should not be taken to reflect the 
            positions of UC Davis. </p>
    </footer>
    </div>
</body> -->
</html> 

