<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Financial Aid and Funding</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/ANCstyle-resources.css">
    </head>

    <div id="content">
        <img src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
        <div class="topleft">Autism and Neurodiversity Community </div>
    </div>

    <div class="topnav">
        <a class="navbtn home" href="/home"> Home</a>
        <a class="navbtn support" href="/peersupport"> Peer Support</a>
        <a button class="navbtn events" href="/events"> Events</button></a>
        <button class="navbtn active"> Resources</button>
        <a button class="navbtn members" href="/communitymembers"> Campus Trainings</button></a>
        <a button class="navbtn contactus" href="/contactus"> Contact Us</button></a>
        <a button class="navbtn key terms" href="/keyterms"> Key Terms</button></a>
    </div> 

    <body>
        <main>
        <div class="title">Financial Aid/Funding</div>
        <div class="subtitle"> Click on each box to access link </div>
        <section>
          <div class="flex-container left">
              <a href="https://www.youtube.com/watch?v=I0dMWWypUfc'" target="_blank" class="item shadow">
                      <b>Lisa: Department of Rehabilitation Helped Pay for College</b>
              </a>
              <a href="https://researchautism.org/how-we-help/scholarships/" target="_blank" class="item shadow">
                  <b>Organization for Autism Research - Scholarships</b>
              </a>
              <a href="https://www.bankrate.com/loans/student-loans/guide-to-paying-for-college-with-disabilities/" target="_blank" class="item shadow">
                  <b>The Fully Accessible Guide to Paying for College for Students with Disabilitie</b>
              </a>
          </div>
          <div class="flex-container right">
                <a href="https://www.consumerfinance.gov/about-us/blog/help-here-people-severe-disabilities-struggling-student-loans/" target="_blank" class="item shadow">
                    <b>Help is Here for People with Severe Disabilities Struggling with Student Loans</b>
                </a>
                <a href="https://ca.db101.org/ca/situations/youthanddisability/education/program2d.htm" target="_blank" class="item shadow">
                    <b>Disability Benefits 101 - Getting a Higher Education: The Detail</b>
                </a>
                <a href="https://www.disabilityrightsca.org/system/files/file-attachments/557201.pdf" target="_blank" class="item shadow">
                  <b>Postsecondary Degree</b>
                  <p>If you have a clear career plan that requires a particular postsecondary degree, the Department of Rehabilitation may be able to cover your educational expenses.</p>
              </a>
          </div>
        </section>
        <section>
            <div class="title">Food, Housing and Materials Needed</div>
            <div class="subtitle"> Click on each box to access link </div>
            <div class="flex-container left">
              <a href="https://www.stairwaytostem.org/autistic-sensory-sensitivity-on-campus-part-five-food-and-cooking/" target="_blank" class="item shadow">
                      <b>Food for Autistic People with Sensory Sensitivities</b>
                      <p>Advice about food and cooking, and food in dorms and residential halls</p>
              </a>
              <a href="https://shcs.ucdavis.edu/services/nutrition-services/food-resources-around-davis-ca" target="_blank" class="item shadow">
                  <b>Resources for Food Insecurity</b>
                  <p>ASHCS has a page that lists some resources for food insecurity around Davis, including places one can obtain free food.</p>
              </a>
              <a href="https://aggiefoodconnection.ucdavis.edu/" target="_blank" class="item shadow">
                  <b>Aggie Compass Basic Needs Center</b>
                  <p>You can also find information about the Aggie Compass Basic Needs Center, again including free food resources as well as free cooking classes.</p>
              </a>
          </div>
          <div class="flex-container right">
                <a href="https://localwiki.org/davis/Rental_Housing_Guide" target="_blank" class="item shadow">
                    <b>Housing</b>
                    <p> Guide to rental housing in Davis
                      <i>*On-campus housing accomodations for students with disabilities often go through the student housing office, not the Student Disability Center.*</i></p>
                </a>
                <a href="http://autisticadvocacy.org/wp-content/uploads/2014/01/NavcollFinal.pdf" target="_blank" class="item shadow">
                    <b>Navigating College</b>
                    <p>ASAN produces a booklet written by autistic students about navigating college. It touches on these topics in some chapters. Pages 91-130 may be particularly relevant.</p>
                </a>
          </div>
        </section>
        </main>
        <footer>
                <div id="disclaimer">
                    Note that the Autism & Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. 
                    We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to 
                    reflect the positions of UC Davis.
                </div>
        </footer>
        <br>
        <br>
    </body>
</html> 
