<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ANC</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../static/css/ANChomepage.css">
   
  </head>  
<div id="content">
    <img class=logo src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
    <div class="topleft">Aggie Neurodiversity Community </div>
</div>

<div class="topnav">
    <button class="navbtn active"> Home</button>
    <a class="navbtn about us" href="/peersupport"> Peer Support</a>
    <a class="navbtn events" href="/events"> Events</a>
    <a button class="navbtn resources" href="/resources"> Resources</button></a>
    <a button class="navbtn members" href="/communitymembers"> Campus Trainings</button></a>
    <a button class="navbtn contact" href="/contactus"> Contact Us</button></a>
    <a button class="navbtn key terms" href="/keyterms"> Key Terms</button></a>
</div> 

  <body>
    <body style="background-color:#F0F8FF">
      

    <div class = "bck-img">
      <img src= "../static/icons/banner_new2.png" alt='' width="100%">
      </div>

    <div class="button-container">
      <h1 class="label1">
      I'm neurodivergent:
    </h1>
    <h1 class = "label2">
      I'm looking to learn more:
    </h1>
      </div>
      <div class="button-container2">
        <button>
          <a href="/peersupport" type="submit" class="button1">Peer support community</a>
        </button>
        <button>
          <a href="/communitymembers" type="submit" class="button2">Neurodiversity trainings</a>
        </button>
      </div>
    
      <div class="button-container">
        <h1 class="label1">About us</h1>
      </div>
      <div class="button-container2">
        <button>
          <a href="/aboutus" type="submit" class="button3">Click here for more information about our group and its leadership</a>
        </button>
      </div>
      
      <div class="footnote-container">
    
    <div class="footnote">
      Note that the Aggie Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to reflect the positions of UC Davis.
    </div>
      </div>
  </body>
</html>
