<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mental Health Resources</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/ANCstyle-resources.css">
    </head>

    <div id="content">
        <img src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
        <div class="topleft">Autism and Neurodiversity Community </div>
    </div>

    <div class="topnav">
        <a class="navbtn home" href="/home"> Home</a>
        <a class="navbtn support" href="/peersupport"> Peer Support</a>
        <a button class="navbtn events" href="/events"> Events</button></a>
        <button class="navbtn active"> Resources</button>
        <a button class="navbtn members" href="/communitymembers"> Campus Trainings</button></a>
        <a button class="navbtn contactus" href="/contactus"> Contact Us</button></a>
        <a button class="navbtn key terms" href="/keyterms"> Key Terms</button></a>
    </div> 

    <body>
        <main>
            <!-- Page Title -->
            <div class="title">Mental Health Resources</div>
            <div class="subtitle"> Click on each box to access link</div>

            <!-- Left Column -->
            <div class="flex-container left">
                <a href="https://eachaggiematters.ucdavis.edu/" target="_blank" class="item shadow">
                    <b>Each Aggie Matters</b>
                    <p>Many mental health resources at UC Davis are listed in one place. Resources for different needs and with different levels of urgency.</p>
                </a>
                <a href="https://eachaggiematters.ucdavis.edu/learn-your-resources/meet-your-student-organizations" target="_blank" class="item shadow">
                    <b>UC Davis Clubs</b>
                    <p>Clubs dedicated to mental health.</p>
                </a>
            </div> 
            <!-- Right Column -->
            <div class="flex-container right">
                <a href="https://shcs.ucdavis.edu/counseling-services" target="_blank" class="item shadow">
                    <b>Counseling Services</b>
                    <p>Counseling for UC Davis students</p>
                </a>
                <a href="https://shcs.ucdavis.edu/online-visits" target="_blank" class="item shadow">
                    <b>Live Online Counseling</b>
                    <p>An alternative to in-person counselling sessions available to UC Davis students.</p>
                </a>
            </div>
        </main>
        <footer>
            <div id="disclaimer">
                Note that the Autism & Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. 
                We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to 
                reflect the positions of UC Davis.
            </div>
        </footer>
    </body>
</html>
