<div class="topnav">
  <button class="navbtn home" id="navHome" href="/home"> Home</button>
  <a class="navbtn support" id="navSupport" href="/peersupport"> Peer Support</a>
  <a class="navbtn events" id="navEvents" href="/events"> Events</a>
  <a button class="navbtn resources" id="navResources" href="/resources"> Resources</button></a>
  <a button class="navbtn members" id="navMembers" href="/communitymembers"> Campus Trainings</button></a>
  <a button class="navbtn contact" id="navContact" href="/contactus"> Contact Us</button></a>
  <a button class="navbtn keyterms" id="navTerms" href="/keyterms"> Key Terms</button></a>
  <script>document.getElementById("nav{{ activePage }}").classList.add("active");</script>
</div> 