<div id="content">
  <img class="logo" src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
  <div class="topleft">Aggie Neurodiversity Community </div>
</div>

<link rel="stylesheet" href="../static/css/ANCnavbar.css">
<div class="topnav">
  <a class="navbtn home" id="navHome" href="/home"> Home</a>
  <a class="navbtn support" id="navSupport" href="/peersupport"> Peer Support</a>
  <a class="navbtn events" id="navEvents" href="/events"> Events</a>
  <a class="navbtn resources" id="navResources" href="/resources"> Resources</button></a>
  <a class="navbtn members" id="navMembers" href="/communitymembers"> Campus Trainings</button></a>
  <a class="navbtn contact" id="navContact" href="/contactus"> Contact Us</button></a>
  <a class="navbtn keyterms" id="navTerms" href="/keyterms"> Key Terms</button></a>
  <script>document.getElementById("nav{{ activePage }}").classList.add("active");</script>
</div> 