<!DOCTYPE html>
<html>
    <head>
		<meta charset = “utf-8”>
		<title> Peer Support </title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/ANCpeersupport.css">
	</head>

    <div id="content">
        <img class=logo src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
        <div class="topleft">Aggie Neurodiversity Community </div>
    </div>

    <div class="topnav">
        <a class="navbtn home" href="/home"> Home</a>
        <button class="navbtn active"> Peer Support</button>
        <a class="navbtn events" href="/events"> Events</a>
        <a class="navbtn resources" href="/resources"> Resources</a>
        <a class="navbtn members" href="/communitymembers"> Campus Trainings</a>
        <a class="navbtn contact" href="/contactus"> Contact Us</a>
        <a class="navbtn keyterms" href="/keyterms"> Key Terms</a>
    </div> 


<body>
  <main>
    
    <div class="title">
      <h1>Peer Support</h1>
    </div>
    
    
    <div class="big-container left">
        <p class="item">
        As a peer support group, we recognize and validate the
        unique perspectives of all our members.  We embrace
        neurodiversity, the diversity of brains and minds. We
        aim to foster healthful relationships among group
        members, creating a safe and supportive space for all,
        by encouraging our members to offer peer support to
        one another in a spirit of fellowship and mutual
        helpfulness.We aim to be inclusive of all autistic and
        neurodivergent people, regardless of intersectional
        identities and political opinions, as long as no members
        harass other members.
        </p>
      </div>
      <div class="small-container right">
        <p class="quote">
        "The real magic of inclusive
        autistic spaces...is that almost
        every autistic person -everyone
        who is able to participate
        without violating other people's
        boundaries -can expect to be
        accepted for who [they are]." <br>  <br> 
        -Jim Sinclair (2010)
        </p>
      </div>
    <div class="flex-container left">
      <p class="class_three">
        <a style="text-decoration:none;color: #554D45;" href="/events"> Click here to view<br> &nbsp &nbsp meeting times</a>
      </p>
    </div>
    <div class="flex-container right">
      <p class="class_four">
        <a style="text-decoration:none;color: #554D45;" href="https://drive.google.com/file/d/1Zc02VMFPEbVgSpFBj4KQHML61qKXTNTI/view?usp=sharing"> Click here to view<br> club constituition</a>
      </p>
    </div>
    
    <div class="flex-container left">
      <div class="item">
      <h2>In-Person</h2>
      <img class="scczoom" src="../static/icons/pic2.png"
           alt='Student Community Center' width="330" height="220">
      <p>
      <b>Our in-person meetings are temporarily suspended due to COVID-19.</b>
      <br>
      <br>
      However, before the COVID-19 pandemic, we would typically meet on the UC Davis campus (often in the Student Community Center) and gather for discussions with <b>free pizza.</b>
      <br>
      <br>
      Because it can sometimes be difficult to find an appropriate place to break into a group discussion, we would <b>keep a text chat open</b> so that group members could contribute to discussion either aloud or (if they bring a phone) by text message.  The text chat would be projected for all to see.
      </p>
      </div>
    </div>
    <div class="flex-container right">
      <div class="item">
      <h2>Virtual</h2>
      <img class="scczoom" src="../static/icons/pic1.png"
           alt='graphic showing five cartoon people connected to a computer'
           width="330" height="220">
      <p>Our virtual meetings use <b><ins>Zoom.</ins></b>
        <br>
        <br>
        Members are welcome to display their screen or not as they prefer.  Similarly, members are welcome to contribute verbally or via the Zoom chat,as they prefer. We strive to make our meetings comfortable for neurodivergent people with different preferences regarding communication modalities.
      <br>
      <br>
      We use a waiting room to protect meetings from Zoom-bombers.
      </p>
      </div>
    </div>
    
    </main>
  
  <main>
  <div class="subtitle">
    <h2>Peer Support Group Meetings</h2>
  </div>
  
  <div class="all-container">
        <p class="item">
We have several types of group meetings:
<br><br>
       &#8226   Presentations delivered by neurodivergent or neurotypical speakers who have
           information of interest to group members.  This might include information about
           various divergent neurotypes, information about community supports or
           resources, information about the intense interests of group members, and so on.<br>
       &#8226   Facilitated discussions on a specific topic of importance to group members.
           For example, we have discussed coping with COVID-related stress, time
           management, and other topics.<br>
       &#8226   Unstructured social meetings in which members can share updates about
           their lives, discuss topics of interest, and converse with one another.<br><br>

We hope to foster an environment where all members are comfortable participating,
but there is no obligation to speak (whether aloud or by text chat) during meetings.
        </p>
      </div>
  
  <div class="subtitle">
    <h2>Discord</h2>
  </div>
  
  <div class="all-container">
        <p class="item">
We have also established a Discord chat group in order to facilitate ongoing social
connection and discussion in our peer support community.
<br><br>
We currently have channels devoted to topics as diverse as academic experiences,
our various intense interests, neurodiversity research, neurodiversity resources,
and animal photos/videos, and we continue to add more channels whenever someone
thinks of a good topic!
<br><br>
If you are a neurodivergent person interested in joining our Discord chat group,
please <a style="text-decoration:none;color: #554D45;" href="/contactus"><b><ins>contact us</ins></b></a>.
        </p>
      </div>
  
  <div class="subtitle">
    <h2>Community and Culture</h2>
  </div>
  
  <div class="all-container">
        <p class="item">
As a community of neurodivergent students, we are engaged in the
creative production of a neurodivergent culture, one which demonstrates the unique
talents and perspectives of each neurodivergent person.  This gives us agency
and allows us to reach out to the larger community around us.
<br><br>
Indeed, some of our members are offering neurodiversity trainings to UC
Davis campus faculty and staff.  However, participation in these trainings
is completely optional and not in any way expected of group members: as
neurodivergent students, we often have stressful lives, and our community aims to
be a source of support to group members rather than a drain on our time and
energy.
        </p>
      </div>
  
  <div class="narrow-container">
<pre class="class_four">
<a style="text-decoration:none;color: #554D45;" href="/resources">
     Click here to view
   resources for autistic     
 & neurodivergent people </a>
</div>
</main>
    
 <footer>
   <div id="disclaimer">Note that the Aggie Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to reflect the positions of UC Davis.</div>
 </footer>

</body>
</html>


