<!DOCTYPE html>

<html>
    <head>
		<meta charset = “utf-8”>
		<title> Resources </title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/ANCstyle-resources.css">
	</head>

    <div id="content">
        <img src="../static/icons/image1.png" alt="ANC logo" style="top:1rem;margin-left:0.5rem;">
        <div class="topleft">Autism and Neurodiversity Community </div>
    </div>

    <div class="topnav">
        <a class="navbtn home" href="/home"> Home</a>
        <a class="navbtn support" href="/peersupport"> Peer Support</a>
        <a button class="navbtn events" href="/events"> Events</button></a>
        <button class="navbtn active"> Resources</button>
        <a button class="navbtn members" href="/communitymembers"> Campus Trainings</button></a>
        <a button class="navbtn contactus" href="/contactus"> Contact Us</button></a>
        <a button class="navbtn key terms" href="/keyterms"> Key Terms</button></a>
    </div> 

    <body>
       <!-- NAVBAR -->
       
      <main>
      <div class="title">Resources for Students</div>
      <div class="subtitle"> Click on each box to access link </div>
      <section>
          <div class="flex-container left main-page">
              <a href="/facultystaff" target="_blank" class="item shadow">
                  <b>Resources for Faculty and Staff</b>
              </a>
              <a href="/selfadvocacy" target="_blank" class="item shadow">
                  <b>Self-Advocacy</b>
              </a>
              <a href="/mentalhealth" target="_blank" class="item shadow">
                  <b>Mental Health Services</b>
              </a>
              <a href="/intersectionality" target="_blank" class="item shadow">
                  <b>Intersectionality</b>
              </a>
              <a href="onlineworkshops" target="_blank" class="item shadow">
                  <b>Online Workshops</b>
              </a>
              <a href="/autismresearch" target="_blank" class="item shadow">
                  <b>Autism Research & Neuropsych <br> Assessments</b></b>
              </a>
            </div>
          
          <div class="flex-container right main-page">
              <a href="/academicsupport" target="_blank" class="item shadow">
                  <b>Academics</b>
              </a>
              <a href="/sensorycoping" target="_blank" class="item shadow">
                  <b>Sensory Coping & Coping With <br> Stress</b></b>
              </a>
              <a href="/employmentsupport" target="_blank" class="item shadow">
                  <b>Employment Support</b>
              </a>
              <a href="/finaid" target="_blank" class="item shadow">
                  <b>Food, Housing, Financial Aid</b>
              </a>
              <a href="/keyterms" target="_blank" class="item shadow">
                  <b>Key Terms</b>
              </a>
              <a href="/adulttransition" target="_blank" class="item shadow">
                  <b>Adult Transition</b>
              </a>
          </div>
      </section>
    </main>
      <footer>
        <div id="disclaimer">
            Note that the Autism & Neurodiversity Community at UC Davis is a group run by and for neurodivergent students. 
            We are not part of the UC Davis administration. As such, the views expressed on this website should not be taken to 
            reflect the positions of UC Davis.
        </div>
      </footer>
    </body>
</html>
